---
- name: Install Nginx Web Server
  hosts: all
  gather_facts: false
  vars:
    packages:
      - python3
      - python3-apt
      - python3-pip
      - python3-dev
      - python3-setuptools
  tasks:
    - name: Install the Python packages
      ansible.builtin.apt:
        name: "{{ packages }}"
        state: present
        update_cache: true
      become: true
    
    - name: Install NGINX web server on 01 & 02 VMs
      ansible.builtin.apt:
        name: nginx
        state: present
        update_cache: true
      when: inventory_hostname in ('ansiblevagrantlab01', 'ansiblevagrantlab02')

    - name: Start the Nginx Service
      ansible.builtin.service:
        name: nginx
        state: started
      when: inventory_hostname in ('ansiblevagrantlab01', 'ansiblevagrantlab02')

    - name: Install the MySQL DB Server
      ansible.builtin.apt:
        name: mysql-server
        state: present
        update_cache: true
      when: inventory_hostname == "ansiblevagrantlab03"
    
    - name: Start the MySql service
      ansible.builtin.service:
        name: mysql
        state: started
      when: inventory_hostname == "ansiblevagrantlab03"

